NEO4J_URI=neo4j+s://xxxxx.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=xxxxx
NEO4J_DATABASE=neo4j
LLM_PROVIDER=claude_code
ANTHROPIC_API_KEY=xxxxx
OPENAI_API_KEY=xxxxx
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://xxxxx.cognitiveservices.azure.com/
AZURE_DOCUMENT_INTELLIGENCE_KEY=xxxxx
